:root {
    --light-bg-color: #f3f4f8;
    --darker-bg-color: #d2dcff;
    --darkest-bg-color: #9cb3ff;
    --border-radius: 0.4rem;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--light-bg-color);
}

.appearance-none {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-progress-appearance: none;
}

.flexbox {
    display: flex;
}

.main-container {
    position: relative;
}

.main-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.icon-container {
    cursor: pointer;
    padding: 0.4rem;
    border-radius: var(--border-radius);
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
}

.icon-container:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.icon {
    cursor: pointer;
    height: 24px;
    width: 24px;
    color: var(--darkest-bg-color);
}

.notification-circle {
    position: absolute;
    margin-left: 0.8rem;
    margin-bottom: 0.8rem;
    height: 0.5rem;
    width: 0.5rem;
    background-color: var(--darkest-bg-color);
    border: 2px solid #fff;
    border-radius: 50%;
}

.header {
    position: fixed;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 4rem;
    background: white;
    border-bottom: 1px solid var(--darker-bg-color);
    box-shadow: 0px 3px 5px -3px rgba(156, 179, 255, 0.14);
}
.header__left-section,
.header__middle-section,
.header__right-section {
    flex-direction: row;
    align-items: center;
}

.main-logo-container {
    cursor: default;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: var(--border-radius);
    background-color: var(--darkest-bg-color);
    color: white;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}

.header-links-container {
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    font-weight: 500;
}

.header-links-container__header-link {
    padding: 0.5rem;
    text-decoration: none;
    color: black;
    line-height: 1;
    opacity: 0.5;
    transition: opacity 180ms linear;
}

.header-links-container__header-link:hover,
.header-links-container__header-link.active-link {
    opacity: 1;
}

.header__left-section,
.header__middle-section {
    justify-content: center;
}

.header__middle-section {
    width: 50%;
    max-width: 24rem;
    min-width: 9rem;
}

.search-bar {
    width: 14rem;
    align-items: center;
    border: 1px solid var(--darker-bg-color);
    border-radius: var(--border-radius);
    color: var(--darkest-bg-color);
    background: white;
    font-size: 1rem;
    padding: 0 0.6rem;
    height: 2.3rem;
    box-shadow: 0px 5px 16px -3px rgba(0, 0, 0, 0.1);
}

.current-user-box {
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 0.4rem 0.5rem 0.4rem 0.8rem;
    border-radius: var(--border-radius);
    background-color: rgba(0, 0, 0, 0.03);
}

.current-user-box:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.current-user-name {
    font-size: 0.88rem;
    line-height: 1;
    letter-spacing: 0.3px;
    font-weight: 500;
}

.avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #fff;
}

.avatar-container__image {
    position: relative;
    height: 100%;
}

.header__right-section {
    justify-content: flex-end;
    gap: 1rem;
}

.page-content {
    height: calc(100vh - 8rem);
    margin-top: 4rem;
    padding: 2rem;
    background-color: var(--light-bg-color);
}

.tabs-selector {
    padding: 4px;
    background-color: rgba(156, 179, 255, 0.07);
    border-radius: var(--border-radius);
    color: var(--darkest-bg-color);
}

.selected-tab {
    background-color: #fff;
    font-weight: 600;
    border: 1px solid var(--darker-bg-color);
    box-shadow: 0px 3px 6px -3px rgba(0, 0, 0, 0.1);
}

.tabs-selector__tab {
    cursor: pointer;
    line-height: 1;
    border-radius: var(--border-radius);
    padding: 0.42rem 1.1rem;
}
